@{
    ViewData["Title"] = "Home Page";
}

<div>
    <input id="username" type="text" /> </br>
    <input id="password" type="password" /></br>
    <input id="LoginButton" type="button" value="Login" /></br>
    <input id="RegisterButton" type="button" value="Register" />
</div>


