@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <h1>Dashboard<small> CHIBB data</small></h1>
       </div>
    </div>
<hr>
<div class="row">
    <div class="col-md-4" id ="left">
        <h4>Visualisatie opties</h4>

    </div>
    <div class="col-md-8">
        <h2>Visualisatie of de data</h2>
    </div>
</div>